.mgn {
    width: 40px;
    text-align: center;
}

#contentDiv {
    margin-top: 15px;
    height: 600px;
}

#controlDiv {
    height: auto !important;
    min-width: 180px;
    width: auto !important;
    float: left;
    margin-left: 10px;
}
#topControlRow1 {
    font-size: 14pt;
    width:100%;
    height: auto !important;
    padding-bottom: 20px;
}
#letterEditorDiv {
    margin-bottom: 20px;
    float: left; 
    width: 1100px;
}
#tpl_name {
    width:170px;
    border:3px solid #254B7C;   
    padding: 5px; 
    font-size: 10pt;
}