/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Apr 2015, 2:44:25 PM
    Author     : Chezre
*/

#reportBody {
    //background-color: yellow;
}
.chartsDiv {
    width:auto;
    height:auto;
    overflow: hidden;
    margin: auto;
}
#budActChart {
    width: auto;
    height: 450px;
    overflow: hidden;
    padding: 10px;
    color: #FFF;
}
#tblReport thead td {
    height: 125px;
    white-space: nowrap;
}
#tblReport thead div {
    transform: 
        translate(35px, 45px)
        rotate(315deg);
    width: 30px;
}
#legacyInput {
    width: auto;
    height: auto;
    overflow: hidden;
}