/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Jan 2015, 10:34:52 AM
    Author     : Chezre
*/

.leftNavigationDiv {
    width: 140px;
    min-height: 90px;
    font-weight: bold;
    font-size: 12pt;
    padding-top: 3px;
    float: left;
    margin-left: 10px;
}
.selectedNav {
    background-color: #254B7C;
    color: #FFF;
}
#leftNavMenu { 
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}
#leftNavMenu li { 
    cursor: pointer;
    padding: 5px;
}
#leftNavMenu li:hover {
    background-color: #254B7C;
    color: #FFF;
}
#bodyDiv {
    padding: 15px;
    float: left;
    
}
#bodyDiv h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.tblDetails thead {
    background-color: #7B7922;
    color: #fff;
    text-align: left;
}
.tblDetails {
    background-color: #98A148;
    color: #FFF;
}
.receiptRow {
    cursor: pointer;
}
.receiptRow:hover{
    background-color: #7B7922;
}
#receiptTotal {
    float: right;
    width: auto;
    height: auto;
    font-size: 18pt;
    color: #FFF;
    padding: 10px;
    text-align: center;
}