<?xml version="1.0" encoding="ISO-8859-1"?>
<dmsConfig>
    <databaseConnection>
        <host></host>
        <username></username>
        <password></password>
        <database></database>
    </databaseConnection>
    <joomlaConnection>
        <host></host>
        <username></username>
        <password></password>
        <database></database>
    </joomlaConnection>
    <civiConnection>
        <host></host>
        <username></username>
        <password></password>
        <database></database>
    </civiConnection>
    <importFiles>
        <qbdonor>qb_donor</qbdonor>
        <qbtrans>qb_trans</qbtrans>
        <qbcategory>qb_category</qbcategory>
        <qborgunit>qb_orgunit</qborgunit>
        <qbprofile>qb_profile</qbprofile>
        <bamlink>bam_link</bamlink>
    </importFiles>
    <authorisation>
        <delete>14</delete>
        <update>34</update>
        <insert>34</insert>
        <select>34</select>
        <admin>14</admin>
        <superUser>8</superUser>
        <registeredGroup>2</registeredGroup>
    </authorisation>
    <accessLevels>
        <user>Only me</user>
        <system>Everyone :)</system>
    </accessLevels>
    <budget allowEdit="false"/>
    <sowerLocationTypeId id="6"/>
    <previousSowerLocationTypeId id="10"/>
    <workLocationTypeId id="2"/>
    <civiOptionGroups>
        <phonetypes>35</phonetypes>
	<titles>6</titles>
	<gender>3</gender>
        <languageCiviOptGroupId>75</languageCiviOptGroupId>
    </civiOptionGroups>
    <emailconfig>
        <zimbraPreAuthKey></zimbraPreAuthKey>
        <emailhost>mymail.biblesociety.co.za</emailhost>
        <address>civicrm@biblesociety.co.za</address>
        <name>Donor Management System</name>
        <password></password>
        <domain>@biblesociety.co.za</domain>
        <!--mailchimpApiKey></mailchimpApiKey-->
        <mailchimpApiKey></mailchimpApiKey>
        <!--mailchimpAdministrator contact_id="304756" /-->
        <mailchimpAdministrator contact_id="155626"/>
        <mandrill>
            <host>smtp.mandrillapp.com</host>
            <port>587</port>
            <smtpUsername>civicrm@biblesociety.co.za</smtpUsername>
            <smtpPassword></smtpPassword>
        </mandrill>
    </emailconfig>
    <acknowledgementconfig>
        <defaultemailsubject>Thank you</defaultemailsubject>
    <marginLeft>25</marginLeft><marginTop>35</marginTop><marginRight>15</marginRight><marginBottom>35</marginBottom>
        <preferences>
		<frequencies>
			<frequency value="0" desc="Every Contribution" default="Y"/>
			<frequency value="1" desc="Monthly" default="N"/>
			<frequency value="3" desc="Quarterly" default="N"/>
			<frequency value="6" desc="Biannually" default="N"/>
			<frequency value="12" desc="Annually" default="N"/>
		</frequencies>	
	</preferences>
	<languages>
		<language value="af_ZA" shortdesc="afr" desc="Afrikaans" salutation="Geagte ##title## ##lastName##"/>
		<language value="en_GB" shortdesc="eng" desc="English (GB)" salutation="Dear ##title## ##lastName##"/>
		<language value="en_ZA" shortdesc="eng" desc="English (ZA)" salutation="Dear ##title## ##lastName##"/>
	</languages>
        <salutations>
            <type value="Extra Salutation" id="extraSalutation"/>
            <type value="Address Heading" id="addressHeading"/>
        </salutations>
    </acknowledgementconfig>
    <defaultPreferences>
	<communicationMethodCiviOptGroupId>1</communicationMethodCiviOptGroupId>
    </defaultPreferences>
    <bam>
        <civiMembershipTypeId>1</civiMembershipTypeId>
    </bam>
    <civicrmApi>
        <crmConfigFile>/var/www/joomla/administrator/components/com_civicrm/civicrm/civicrm.config.php</crmConfigFile>
        <crmCoreConfigFile>/var/www/joomla/administrator/components/com_civicrm/civicrm/CRM/Core/Config.php</crmCoreConfigFile>
    </civicrmApi>
	    <versions>
        <civicrm>4.5.4</civicrm>
        <dms>5.0.1</dms>
    </versions>
	<googleApiKey>AIzaSyCUGfwjehI3OPkzrn1PhslT6LQiAMTVqm8</googleApiKey>
<activityconfig>
    <civiOptionGroupId>2</civiOptionGroupId>
    <civiStatusOptionGroupId>26</civiStatusOptionGroupId>
    <activities>
        <activity value="1" default="Y"/>
        <activity value="2" default="N"/>
        <activity value="3" default="N"/>
        <activity value="6" default="N"/>
        <activity value="7" default="N"/>
        <activity value="8" default="N"/>
        <activity value="12" default="N"/>
        <activity value="13" default="N"/>
        <activity value="14" default="N"/>
        <activity value="17" default="N"/>
        <activity value="19" default="N"/>
        <activity value="22" default="N"/>
        <activity value="34" default="N"/>
        <activity value="33" default="N"/>
        <activity value="35" default="N"/>
        <activity value="36" default="N"/>
        <activity value="40" default="N"/>
        <activity value="44" default="N"/>
        <activity value="46" default="N"/>
        <activity value="47" default="N"/>
        <activity value="48" default="N"/>
	<activity value="49" default="N"/>
    </activities>
    <civiActivityRecordTypeIds>
        <typeId value="1" desc="assigned_to"/>
        <typeId value="2" desc="source_contact_id"/>
        <typeId value="3" desc="with_contact_id"/>
    </civiActivityRecordTypeIds>
    <activitiesExcludedFromStatusUpdate>
        <activity value="6"/>
        <activity value="7"/>
        <activity value="8"/>
        <activity value="12"/>
        <activity value="17"/>
        <activity value="22"/>
        <activity value="33"/>
        <activity value="35"/>
        <activity value="36"/>
        <activity value="44"/>
        <activity value="4"/>
        <activity value="19"/>
        <activity value="34"/>
        <activity value="46"/>
        <activity value="47"/>
        <activity value="48"/>
    </activitiesExcludedFromStatusUpdate>
    <userActivities>
        <activity value="1" default="Y"/>
        <activity value="2" default="N"/>
        <activity value="3" default="N"/>
        <activity value="49" default="N"/>
    </userActivities>
    </activityconfig>
    <showSql value="Y"/>
    <civiGroups>
        <sower>1</sower>
    </civiGroups>
    <sower>
        <mailchimpLists>
            <list id="913a5535c7" desc="eSower" groupId="2"/>
            <list id="5ed4ccc363" desc="eSaaier" groupId="4"/>
        </mailchimpLists>
        <mailchimpUnsubscribedGroupId>5</mailchimpUnsubscribedGroupId>
    </sower>
    <financialYearStartMonth>November</financialYearStartMonth>
</dmsConfig>
