<?xml version="1.0" encoding="UTF-8"?>
<root>
    <nextExternalIdentifier value="909590" />
    <defaults>
        <contact>
            <contact_type>Individual</contact_type>
            <preferred_communication_method>3</preferred_communication_method>
            <preferred_language>en_ZA</preferred_language>
        </contact>
        <acknowledgementPreferences>
            <frequency>0</frequency>
            <must_acknowledge>Y</must_acknowledge>
            <preferred_method>Postal Mail</preferred_method>
        </acknowledgementPreferences>
        <reporting_code>
            <organisation_id>00000000</organisation_id>
            <category_id>0019</category_id>
        </reporting_code>
        <other_data>
            <do_not_thank>0</do_not_thank>
            <reminder_month>0</reminder_month>
        </other_data>
    </defaults>
</root>
